/* Global */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/*html, body {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  min-height: 100vh;*/
/*  overflow: hidden;*/
/*}*/

/*.chats-page{*/
/*  flex: 1;*/
/*  padding-bottom: 60px*/

/*}*/

#ce-feed-container {
  height: calc(100vh - 7vh) !important;
}
.ce-chat-feed-container {
  height: calc(100vh - 7vh) !important;
}

@media only screen and (max-width: 600px) {
  /*.ce-chat-feed {*/
  /*  height: calc(100vh - 7vh) !important;*/
  /*  margin-: 200px !important;*/
  /*}*/
  #ce-feed-container {
    height: calc(100vh - 7vh) !important;
    overflow: hidden !important;
  }
  html, body {
    height: 100%;
    width: 100%;

  }
}

/*@media only screen and (max-width: 600px) {*/
/*  .ce-chat-feed {*/
/*    height: 93vh !important;*/
/*    overflow: hidden !important*/
/*  }*/
/*  html, body {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*  }*/
/*}*/

  :root {
  touch-action: pan-x pan-y;
}


/*html, body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  height: 100%;*/
/*}*/


* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
  Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/*#root {*/
/*  height: 100vh !important;*/
/*}*/

/*.chats-page {*/
/*  height: 100vh !important;*/

/*}*/

/*#root {*/
/* height: 100vh !important;*/
/*}*/

/*.ce-chat-engine {*/
/*  height: 100vh !important;*/
/*}*/

/*.ce-wrapper {*/
/*  height: 93vh !important;*/
/*}*/

/*.ce-chat-list-column {*/
/*  height: 100vh !important;*/
/*}*/

/*.ce-chat-feed-column {*/
/*  height: 100vh !important;*/
/*}*/

/*.ce-chat-feed{*/
/*    height: calc(100vh - 7vh) !important;*/
/*}*/

/*.ce-settings-column {*/
/*  height: 100vh !important;*/
/*}*/

/*#ce-chat-feed-container .ce-chat-feed-container{*/
/*  height: 100vh !important;*/
/*}*/


/*.ce-chat-list-column{*/
/*    height: 100vh !important;*/
/*}*/

/*.ce-chat-list{*/
/*    height: 100vh !important;*/
/*}*/



/*.chats-page {*/
/*  position: absolute;*/
/*  top: 0px;*/
/*  left: 0px;*/
/*  width: 100vw;*/
/*  height: 100%;*/
/*}*/

/*.chat-feed{*/
/*  height: 300% !important;*/
/*}*/

/*.chats-page {*/
/*  height : 100vh !important;*/

/*}*/

/*.ce-chat-engine{*/
/*    height: 500px !important;*/
/*}*/

/*@media only screen and (max-width: 600px) {*/
/*  .ce-chat-engine {*/
/*    height: 300px !important;*/
/*  }*/
/*}*/

/*#ce-feed-container{*/
/*  height: 90vh !important;*/
/*}*/




.nav-bar {
  width: 100%;
  height: 7vh;
  background-color: #27CC58;
}


.logo-tab {
  position: absolute;
  left: 22px;
  top: 1%;
  font-size: 32px;
  font-weight: 700;
  color: #282c34;
}

.logout-tab {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: #282c34;
  color: #27CC58;
  padding: 5px;
  border-radius: 22px;
  cursor: pointer;
}

/*@media only screen and (max-width: 600px) {*/
/*  .nav-bar {*/
/*    height: 50px;*/
/*  }*/

/*  .logo-tab {*/
/*    top: 8px;*/
/*    font-size: 24px;*/
/*  }*/

/*  .logout-tab {*/
/*    top: 12px;*/
/*    right: 12px;*/
/*    padding: 3px;*/
/*    border-radius: 16px;*/
/*  }*/
/*}*/

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}


/* chat page mobile */



/*.ce-chat-settings-mobile-option div{*/
/*    background-color: #282c34 !important;*/
/*    color: #27CC58 !important;*/
/*}*/


/* Chats Page */

.ce-message-timestamp{
    color: #27CC58 !important;
}

.ce-chat-feed-column{
  background-color: #282c34 !important;
}

.ce-chat-title {
  background-color: #282c34 !important;
  /*border-bottom: 1px solid #27CC58 !important;*/
}

#ce-feed-container{
  background-color: #282c34 !important;
}

.ce-chat-form-container {
  background-color: #282c34 !important;
}

.ce-chats-container {
  background-color: #282c34 !important;
}

.ce-chat-list{
    background-color: #282c34 !important;
    border-right: 3px solid #525969 !important;
}

.ce-chat-title-text {
  color: #27CC58 !important;
}



#ce-chat-feed-title-test{
  color: #27CC58 !important;
}

#new-chat-plus-button{
  background-color: #27CC58 !important;
}

#new-chat-plus-button svg{
  fill: #282c34 !important;
}

.ce-chat-form-container{
  color: #27CC58 !important;
}

.ce-chat-card{
  background-color: #525969 !important;
  border-radius: 12px;
  margin-top: 5px;
}

.ce-chat-unread-dot{
  background-color: #27CC58 !important;
}

.ce-chat-card.ce-active-chat-card{
  background-color: #27CC58 !important;
  color: #282c34 !important;
}

.ce-chat-card.ce-active-chat-card .ce-chat-title-text{
  color: #282c34 !important;
}

.ce-chat-subtitle-text{
    color: #282c34 !important;
}

.ce-their-message-sender{
    color: #27CC58 !important;
}

.ce-message-date-text{
    color: #198539 !important;
    padding-top: 0px !important;
}

.ce-section-title-container{
  background-color: #282c34 !important;
}


.ce-settings {
  background-color: #282c34 !important;
  border-left: 3px solid #525969 !important;

}

.ce-input{
  background-color: #525969 !important;
  margin-bottom: 10px;

}

#ce-add-username-input{
  color: #27CC58 !important;
}

.ce-input:focus{
  background-color: #525969 !important;
}

.ce-chat-form-container{
  background-color: #282c34 !important;
}

.ce-settings-container{
  background-color: #282c34 !important;
  color: #27CC58 !important;
}

#ce-options-drop-down{
  background-color: #282c34 !important;
}

#ce-delete-chat-button{
  background-color: #282c34 !important;
}
/*.ce-settings-container{*/
/*  border-left : 10px solid #27CC58;*/
/*}*/

/*.ce-settings-container div{*/
/*  border-top : 1px solid #27CC58;*/
/*}*/


/*.ce-photo-section{*/
/*  border-top: 10px solid #27CC58;*/
/*}*/


/*.ce-settings-container div{*/
/*  background-color: #282c34 !important;*/
/*}*/

/*.ce-chat-settings-container div{*/
/*  border-top: 1px solid #27CC58;*/
/*}*/

.ce-settings-container div{
  border-top: 0px solid #27CC58 !important;
}

.ce-section-title-container.ce-person-title-container{
   border-bottom: 2px solid #525969 !important;
}

/*.ce-settings-container .ce-settings-tab:hover{*/
/*  background-color: green !important;*/
/*}*/



.ce-message-bubble.ce-my-message-bubble{
  background-color: #27CC58 !important;
  color: #282c34 !important;
}

.ce-message-bubble.ce-their-message-bubble{
    background-color: #525969 !important;
    color: #27CC58 !important;
}


#ce-ice-breaker-gif{
  display: none;
}

.ql-editor {
  background-color: #282c34 !important;
  color: #27CC58 !important;
}

#toolbar{
  background-color: #282c34 !important;
  border: 1px solid #525969 !important;
}

#ce-send-message-button{
  background-color: #27CC58 !important;
}

#ce-send-message-button svg{
    fill: #282c34 !important;
}

.uploader svg{
  fill: #27CC58 !important;

}

.ql-snow .ql-stroke {
    stroke: #27CC58 !important;
}

.ql-snow .ql-fill{
    fill: #27CC58 !important;
}

.ql-container.ql-snow{
  border: 1px solid #525969 !important;
  border-top: 2px solid #525969 !important;;
}

.ce-autocomplete-option{
  background-color: #282c34 !important;
  color: #27CC58 !important;
}



/*span[aria-label="close"] div{*/
/*  color: #27CC58 !important;*/
/*  padding: 100px;*/
/*  background-color: #282c34 !important;*/
/*}*/

span[aria-label="close"] div div{
    color: red !important;
    padding: 10000px;
  }

span[aria-label="setting"] span div div{
  color: red !important;
  padding: 100px;
  background-color: red !important;
}

span[aria-label="close"] span div div{
  color: red !important;
  padding: 100px;
  background-color: red !important;
}

:not(.ce-chat-settings-mobile-option) span[aria-label="close"] div div{
  color: red !important;
  padding: 100px;
  background-color: red !important;
}



/*.ce-chat-settings-mobile-option div{*/
/*  background-color: #282c34 !important;*/
/*  color: #27CC58 !important;*/
/*}*/

/*.ce-avatar-text{*/
/*  color: white !important;*/

/*}*/

/*.ce-chat-avatars-row div{*/
/*  background-color: transparent !important;*/
/*  color: red !important;*/
/*}*/

/*.ce-avatar{*/
/*  background-color: transparent !important;*/
/*  color: transparent !important;*/
/*}*/



.ce-chat-title svg{
  fill: #27CC58 !important;
}







/* Login Page */

#login-page {
  background-color: #282c34;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: relative;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 420px;
  text-align: center;
  background-color: white;
  border-radius: 22px;
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.google {
  background-color: #27CC58;
  color: black;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

#center-div {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
